@import 'react-md/src/scss/react-md';

$md-primary-color: $md-grey-500;
$md-secondary-color: $md-purple-a-400;

.greyText {    
    color: $md-grey-500;      
} 

.md-toolbar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li{
        float: left;        
    }
}

.md-toolbar li {    
    a{
        display: block;
        color: black;
        text-align: center;
        padding: 23px 20px;
        text-decoration: none;   
        &:hover{
            background-color: dimgray;
        }
    } 
}
  
.media { 
    img {
        display: block;
        max-height:150px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.card {
    background-color: white;
}

.content{
    padding-left: 20px;
    padding-top: 8px;
    margin: 0;
}