@import 'react-md/src/scss/react-md';

// Any variable overrides. The following just changes the default theme to use teal and purple.
$md-primary-color: $md-grey-500;
$md-secondary-color: $md-purple-a-400;

.md-toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9e9e9e;
}

.md-toolbar li {
    float: left;
}

.md-toolbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 19px 20px;
    text-decoration: none;
}

.md-toolbar li a:hover {
    background-color: #696969;
}    

.card {
    background-color: #ffffff;
  }